h1 {
    color: rgb(152,66,103);
    color: rgb(85,141,190);
    color: rgb(65,87,144);
    color: rgb(184,140,41);
    color: rgb(197,67,51);
    color: rgb(152,66,103);
    color: rgb(36,172,242);
    color: rgb(0,177,183);
    color: rgb(0,118,184);
    /*
    Washed out colors
    */
    color: rgb(153,100,130);
    color: rgb(137,167,178);
    color: rgb(182,172,119);
    color: rgb(143,160,188);
    color: rgb(176,153,161);
    color: rgb(206,145,120);


  }